<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<system>
    <maxreq>1000</maxreq>
    <maxproc>2</maxproc>
    <downloader>
        <dblocksize>102400</dblocksize>
        <httptimeout>30000</httptimeout>
    </downloader>
    <uploader>
        <ublocksize>102400</ublocksize>
    </uploader>
    <callback>http://localhost:8080/mcasWeb</callback>
    <transcoconfigs>
        <tconfig name="default">
            <workdir>
                <input>input</input>
                <output>output</output>
            </workdir>
            <timeout>86400</timeout>
            <live>false</live>
            <profiles>
                <profile name="H264"/>
                <profile name="WebM"/>
            </profiles>
        </tconfig>
        <tconfig name="all">
            <workdir>
                <input>input</input>
                <output>output</output>
            </workdir>
            <timeout>86400</timeout>
            <live>false</live>
            <profiles>
                <profile name="H264"/>
                <profile name="WebM"/>
                <profile name="Dash"/>
                <profile name="HLS"/>
            </profiles>
        </tconfig>
        <tconfig name="live">
            <workdir>
                <input>input</input>
                <output>output</output>
            </workdir>
            <timeout>86400</timeout>
            <live>true</live>
            <profiles>
                <profile name="HLS"/>
            </profiles>
        </tconfig>
        <tconfig name="live640">
            <workdir>
                <input>input</input>
                <output>output</output>
            </workdir>
            <timeout>86400</timeout>
            <live>true</live>
            <profiles>
                <profile name="HLS640"/>
            </profiles>
        </tconfig>
        <tconfig name="live360">
            <workdir>
                <input>input</input>
                <output>output</output>
            </workdir>
            <timeout>86400</timeout>
            <live>true</live>
            <profiles>
                <profile name="HLS360"/>
            </profiles>
        </tconfig>
    </transcoconfigs>
</system>