<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<system>
    <maxreq>1000</maxreq>
    <maxproc>2</maxproc>
    <downloader>
        <dblocksize>102400</dblocksize>
        <httptimeout>30000</httptimeout>
    </downloader>
    <uploader>
        <ublocksize>102400</ublocksize>
    </uploader>
   <cloud>
		<connection>
			<accountName>storagevideos</accountName>
			<accountKey>qesnMc8PWB9tvMi2IaH3E4OuEVTmyX893T8f6OqwaatGeb23F/vZR8+pq6d5paQWYcZSUArJVGhqvaFESYUW0A==</accountKey>
			<protocol>http</protocol>
		</connection>
		<processqueue>videoqueue</processqueue>
		<cancelqueue>cancelqueue</cancelqueue>
		<inContainer>input</inContainer>
		<cancelTryout>3</cancelTryout>
	</cloud>
    <callback>

    </callback>
    <transcoconfigs>
        <tconfig name="default">
            <workdir>
                <input>input</input>
                <output>output</output>
            </workdir>
            <timeout>86400</timeout>
            <live>false</live>
            <profiles>
                <profile name="profile1"/>
                <profile name="profile2"/>
            </profiles>
        </tconfig>
    </transcoconfigs>
</system>