<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->
<system>
    <maxreq>1000</maxreq>
    <maxproc>2</maxproc>
    <downloader>
        <dblocksize>1024</dblocksize>
        <httptimeout>30000</httptimeout>
    </downloader>
    <uploader>
        <ublocksize>1024</ublocksize>
    </uploader>
   <cloud>
		<connection>
			<accountName>uai2cat</accountName>
			<accountKey>b3fx1IkaXwaljZD5vbIc4gf2Luw7JNeZDPNjGPCFIAHpDfPabA0VWMgSKkiHA5U0Zpq4pXLUauGm0vx99mSb0w==</accountKey>
			<protocol>http</protocol>
		</connection>
		<pollFactor>2</pollFactor>
		<pollInterval>10</pollInterval>
		<processqueue>videoqueue</processqueue>
		<cancelqueue>cancelqueue</cancelqueue>
		<inContainer>videoentity</inContainer>
		<cancelTryout>3</cancelTryout>
		<retryTryout>3</retryTryout>
	</cloud>
    <transcoconfigs>
        <tconfig name="default">
            <workdir>
                <input>/Users/i2cat/input</input>
                <output>/Users/i2cat/output</output>
            </workdir>
            <timeout>86400</timeout>
            <live>false</live>
            <profiles>
                <profile name="H264"/>
                <profile name="WebM"/>
            </profiles>
        </tconfig>
    </transcoconfigs>
</system>